body {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    padding-top: 50px;
}

main {
    margin: 50px 20px;
    text-align: center;
}

/* .hidden {
    display: none;
} */

.group {
    flex-wrap: wrap;
}

.item {
    flex: 1;
    max-width: 200px;
}